<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Small Donation</key>
	<string>com.donate.small</string>
	<key>Medium Donation</key>
	<string>com.donate.medium</string>
	<key>Large Donation</key>
	<string>com.donate.large</string>
	<key>Generous Donation</key>
	<string>com.donate.generous</string>
</dict>
</plist>
